@page "/cart"
@rendermode InteractiveServer
@using System.Text.Json
@using WebshopCore
@using WebshopCore.Dtos
@using Microsoft.AspNetCore.Components.Authorization
@inject WebshopAuthenticationStateProvider AuthStateProvider
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

<PageTitle>Cart</PageTitle>

<div class="cart-main-row">
    <div class="cart-address">
        <AuthorizeView>
            <Authorized>
                @* form for address etc. *@
                <p class="barlow-semi-condensed-light-italic">Fields noted with <i>*</i> are mandatory fields.</p>
                <EditForm Context="formContext" id="address-form" Model="@_shippingDetails" OnValidSubmit="CheckOut">
                    <DataAnnotationsValidator/>
                    <label for="firstname" class="barlow-semibold">First name</label><i> *</i><br/>
                    <InputText id="firstname" @bind-Value="_shippingDetails.FirstName" placeholder="FirstName"/>
                    <span class="barlow-semi-condensed-light-italic"><ValidationMessage For="@(() => _shippingDetails.FirstName)"/></span>
                    <label for="lastname" class="barlow-semibold">Last name</label><i> *</i><br/>
                    <InputText id="lastname" @bind-Value="_shippingDetails.LastName" placeholder="LastName"/>
                    <span class="barlow-semi-condensed-light-italic"><ValidationMessage For="@(() => _shippingDetails.LastName)"/></span>
                    <label for="address1" class="barlow-semibold">Address row 1</label><i> *</i><br/>
                    <InputText id="address1" @bind-Value="_shippingDetails.Address1" placeholder="Address row 1"/>
                    <span class="barlow-semi-condensed-light-italic"><ValidationMessage For="@(() => _shippingDetails.Address1)"/></span>
                    <label for="address2" class="barlow-semibold">Address row 2 (optional)</label><br/>
                    <InputText id="address2" @bind-Value="_shippingDetails.Address2" placeholder="Address row 2 (optional)"/>
                    <label for="city" class="barlow-semibold">City</label><i> *</i><br/>
                    <InputText id="city" @bind-Value="_shippingDetails.City" placeholder="City"/>
                    <span class="barlow-semi-condensed-light-italic"><ValidationMessage For="@(() => _shippingDetails.City)"/></span>
                    <label for="zip" class="barlow-semibold">Zip</label><i> *</i><br/>
                    <InputText id="zip" @bind-Value="_shippingDetails.Zip" placeholder="Zip code"/>
                    <span class="barlow-semi-condensed-light-italic"><ValidationMessage For="@(() => _shippingDetails.Zip)"/></span>
                    <label for="country" class="barlow-semibold">Country</label><i> *</i><br/>
                    <InputText id="country" @bind-Value="_shippingDetails.Country" placeholder="Country"/>
                    <span class="barlow-semi-condensed-light-italic"><ValidationMessage For="@(() => _shippingDetails.Country)"/></span>
                    <button type="reset" @onclick="Reset">Reset</button>
                </EditForm>
            </Authorized>
            <NotAuthorized>
                <p>Please log in to be able to checkout.</p>
                <Login OnUserLogin="HandleUserLoggedIn" />
            </NotAuthorized>
        </AuthorizeView>

    </div>
    <div class="cart-content-row">
        <div class="cart-content">
            @* cart contents *@
            <p class="barlow-semibold">Items in cart:</p>
            @if (IsCartEmpty())
            {
                <p>Cart is empty..</p>
            }
            else
            {
                <table>
                    <tr class="barlow-semibold-italic">
                        <th class="th-left">Item</th>
                        <th></th>
                        <th class="th-center">Price</th>
                        <th class="th-right">Qty</th>
                        <th></th>
                    </tr>
                    @foreach (var item in _cart)
                    {
                        <tr>
                            <td>@item.Book.ProductName</td>
                            <td class="barlow-semi-condensed-light-italic text-right cart-original-price">@(GetOriginalPrice(item.Book) * item.Quantity)</td>
                            <td class="text-right @(GetPriceCssClass(item.Book))">@((item.Book.SalePrice ?? item.Book.Price) * item.Quantity) @Currency</td>
                            <td class="text-right">(@item.Quantity)</td>
                            <td class="text-right"><RemoveFromCart OnRemoveFromCart="HandleOnRemoveFromCart" Product="item.Book" /></td>
                        </tr>
                    }
                    <tr class="barlow-regular-italic text-right">
                        <td></td>
                        <td>Shipping *</td>
                        <td>@(_totalPriceExclShipping > _freeShippingOver ? 0 : _shippingCost) @Currency</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="barlow-semibold-italic text-right">
                        <td></td>
                        <td>Total</td>
                        <td>@_totalPrice @Currency</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <p class="barlow-semi-condensed-light-italic">* Free shipping on orders over @_freeShippingOver @Currency</p>
            }
        </div>
        <div class="cart-content-buttons">
            <button @onclick="@(() => ClearCart(false))" disabled="@(IsCartEmpty())">Empty cart</button>
            <AuthorizeView>
                <Authorized>
                    <button type="submit" form="address-form" disabled="@(IsCartEmpty())">Checkout</button>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</div>

@code {
    private List<OrderItemDto> _cart = new();

    [Parameter]
    public string Currency { get; set; } = "SEK";

    private decimal _totalPriceExclShipping;
    private decimal _totalPrice;
    private readonly decimal _shippingCost = 59.00m;
    private readonly decimal _freeShippingOver = 500.00m;

    private ShippingDetailsDto _shippingDetails = new ShippingDetailsDto {FirstName = "", LastName = "", Address1 = "", City = "", Zip = "", Country = ""};

    private WebshopUserDto? _loggedInUser;
    private bool _haveMergedCarts;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _cart = await GetItemsFromCartAsync();
            CalculateTotalPrice();
            StateHasChanged();
        }
    }

    private async Task<List<OrderItemDto>> GetItemsFromCartAsync()
    {
        await GetUser();

        //if user is logged in, check for cart in database
        if (_loggedInUser != null)
            return await GetCartFromDb();

        //else check for cart in session storage
        return await SessionStorage.GetItemAsync<List<OrderItemDto>>("cart") ?? new List<OrderItemDto>();
    } 

    private bool IsCartEmpty() => _cart.Count == 0;

    private string GetPriceCssClass(BookDto product) => product.SalePrice != null ? "cart-onsale-price" : "";

    private decimal? GetOriginalPrice(BookDto product) => product.SalePrice != null ? product.Price : null;

    private void CalculateTotalPrice()
    {
        _totalPriceExclShipping = 0;
        _totalPrice = 0;

        foreach (var item in _cart)
            _totalPriceExclShipping += (item.Book.SalePrice ?? item.Book.Price) * item.Quantity;

        _totalPrice = _totalPriceExclShipping;

        if (_totalPriceExclShipping <= _freeShippingOver)
            _totalPrice += _shippingCost;
    }

    private void Reset()
    {
        _shippingDetails = new ShippingDetailsDto { FirstName = "", LastName = "", Address1 = "", City = "", Zip = "", Country = "" };
    }

    private async Task ClearCart(bool isCheckout)
    {
        if (!isCheckout)
        {
            using var client = HttpClientFactory.CreateClient("WebshopBackendAPI");
            foreach (var item in _cart)
            {
                var response = await client.PatchAsync($"/increaseAvailableQty/{item.Book.Id}/{item.Quantity}", null);
            }
        }

        _cart.Clear();
        await SessionStorage.RemoveItemAsync("cart");
        //remove cart from database if user is logged in
        if (_loggedInUser != null)
        {
            using var client = HttpClientFactory.CreateClient("WebshopBackendAPI");
            await client.DeleteAsync($"/cart/{_loggedInUser.Id}");
        }
        StateHasChanged();
    }

    private async Task CheckOut()
    {
        await GetUser();

        // this will refresh the page if the user has been automatically logged out
        if (_loggedInUser == null)
        {
            NavigationManager.NavigateTo(NavigationManager.Uri, true);
            return; 
        }

        var order = GenerateOrder();
        await LocalStorage.SetItemAsync("order", order);

        using var client = HttpClientFactory.CreateClient("WebshopBackendAPI");
        var response = await client.PostAsJsonAsync("/checkout", order);

        await ClearCart(true);

        NavigationManager.NavigateTo($"/orderconfirmation/{order.OrderNumber.ToString()}"); //could this take the order number as a parameter? 
        //and order confirmation page could then get the order from the backend
    }

    private OrderDto GenerateOrder()
    {
        _shippingDetails.User = _loggedInUser!;

        return new OrderDto
        {
            OrderNumber = Guid.NewGuid(),
            User = _loggedInUser!,
            ShippingDetails = _shippingDetails,
            OrderDate = DateTime.Now,
            ShippingDate = null,
            OrderStatus = "Ordered",
            ShippingPrice = _totalPriceExclShipping > _freeShippingOver ? 0 : _shippingCost,
            TotalPrice = _totalPrice,
            OrderItems = _cart
        };
    }

    private async Task GetUser() //this will get the WebshopUserDto object of the user logged in
    {
        var client = HttpClientFactory.CreateClient("WebshopBackendAPI");

        var response = await client.GetAsync("account/AuthenticatedUser");

        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            var user = JsonSerializer.Deserialize<WebshopUserDto>(json, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
            _loggedInUser = user;
        }
    }

    private async Task<List<OrderItemDto>> GetCartFromDb()
    {
        using var client = HttpClientFactory.CreateClient("WebshopBackendAPI");
        var json = await client.GetStringAsync($"/cart/{_loggedInUser!.Id}");

        if (json == "null")
            return await SessionStorage.GetItemAsync<List<OrderItemDto>>("cart") ?? new List<OrderItemDto>();

        var cartDto = JsonSerializer.Deserialize<CartDto>(json, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        return JsonSerializer.Deserialize<List<OrderItemDto>>(cartDto!.JsonCart, new JsonSerializerOptions { PropertyNameCaseInsensitive = true }) ?? new List<OrderItemDto>();
    }

    private async Task HandleOnRemoveFromCart()
    {
        _cart = await GetItemsFromCartAsync();
        CalculateTotalPrice();
        StateHasChanged();
    }

    private async Task HandleUserLoggedIn()
    {
        //if _cart is not empty, and carts haven't already been merged, merge the carts
        if (_cart.Count > 0 && !_haveMergedCarts)
        {
            //get the user
            await GetUser();

            //get the cart from the database
            var cartFromDb = await GetCartFromDb();
            if (cartFromDb.Count == 0)
            {
                //if the cart from the database is empty, do nothing apart from re-rendering the page
                StateHasChanged();
            }
            else
            {
                //merge the carts
                foreach (var item in cartFromDb)
                {
                    var existingItem = _cart.FirstOrDefault(p => p.Book.Id == item.Book.Id);

                    if (existingItem != null)
                        existingItem.Quantity += item.Quantity;
                    else
                        _cart.Add(item);
                }

                await SessionStorage.SetItemAsync("cart", _cart);

                using var client = HttpClientFactory.CreateClient("WebshopBackendAPI");
                var cartDto = new CartDto
                {
                    UserId = _loggedInUser!.Id,
                    JsonCart = JsonSerializer.Serialize(_cart)
                };
                await client.PatchAsJsonAsync($"/cart/{_loggedInUser.Id}", cartDto);

                _haveMergedCarts = true;
                await SessionStorage.SetItemAsync("cartMerged", _haveMergedCarts);
                CalculateTotalPrice();
                // StateHasChanged();
            }
        }
        else if(_cart.Count == 0)
        {
            //if _cart is empty and the user is logged in, get the cart from the database (if it exists, or get an empty cart if it doesn't)
            await GetUser();
            _cart = await GetCartFromDb();
            CalculateTotalPrice();
        }
        else
        {
            //just re-render the page
            StateHasChanged();
        }
    }
}
