<footer>
    <div class="row @($"footer-content-{HorizontalAlignment}")">
        <span>@SiteOwner &copy; @CopyrightPeriod</span>
        <div class="@(DisplaySocialMediaIcons ? string.Empty : "hidden")">
            @if (DisplaySocialMediaIcons)
            {
                <SocialMediaIcons FacebookUrl="@FacebookUrl" InstagramUrl="@InstagramUrl" ThreadsUrl="@ThreadsUrl" TwitterUrl="@TwitterUrl" MastodonUrl="@MastodonUrl" LinkedinUrl="@LinkedinUrl" GithubUrl="@GithubUrl"/>
            }
        </div>
    </div>
</footer>

@code {
    public enum FooterHorizontalAlignment
    {
        left,
        center,
        right,
        split
    }

    [Parameter]
    public string? SiteOwner { get; set; }

    [Parameter]
    public string CopyrightPeriod { get; set; } = DateTime.Now.Year.ToString();

    [Parameter]
    public FooterHorizontalAlignment HorizontalAlignment { get; set; } = FooterHorizontalAlignment.left;

    [Parameter]
    public bool DisplaySocialMediaIcons { get; set; } = false;

    [Parameter]
    public string? FacebookUrl { get; set; } = "none";

    [Parameter]
    public string? InstagramUrl { get; set; } = "none";

    [Parameter]
    public string? ThreadsUrl { get; set; } = "none";

    [Parameter]
    public string? TwitterUrl { get; set; } = "none";

    [Parameter]
    public string? MastodonUrl { get; set; } = "none";

    [Parameter]
    public string? LinkedinUrl { get; set; } = "none";

    [Parameter]
    public string? GithubUrl { get; set; } = "none";
}
