@using WebshopCore
@rendermode InteractiveServer

<div class="product-preview">
    <div class="product-preview-image">
        <img src="@(string.IsNullOrEmpty(ProductDTO.ImageUrl) ? "/resources/no-image-available.jpg" : ProductDTO.ImageUrl)" alt="Image for @ProductDTO.ProductName">
    </div>
    <div class="product-preview-row barlow-semibold">
        <a href="/products/@ProductDTO.Id">@ProductDTO.ProductName</a>
    </div>
    <div class="product-preview-row barlow-semibold product-preview-price">
        @ProductDTO.Price @Currency
    </div>
    <div class="product-preview-row">
        <span>In stock: @Quantity</span>
        <AddToCart Product="@ProductDTO" />
    </div>
</div>

@code {
    [Parameter]
    public ProductDto ProductDTO { get; set; }

    [Parameter]
    public string Currency { get; set; } = "SEK";

    [Parameter]
    public int Quantity { get; set; } = 1;
}
