@using System.Text.Json
@using WebshopCore
@using WebshopCore.Dtos
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory

<div class="product-preview">
    <div class="product-preview-content-container">
        <div class="product-preview-image">
            <img src="@(string.IsNullOrEmpty(Product.ImageUrl) ? "/resources/no-image-available.jpg" : Product.ImageUrl)" alt="Image for @Product.ProductName">
        </div>
        <div class="product-preview-row barlow-semibold">
            <a href="/products/@Product.Id">@Product.ProductName</a>
        </div>
    </div>
    <div class="product-preview-content-container">
        <div class="product-preview-row barlow-semibold product-preview-price">
            @Product.Price @Currency
        </div>
        <div class="product-preview-row">
            <span>In stock: @Product.AvailableQty</span>
            <AddToCart OnAddToCart="FetchDataById" Product="@Product" ButtonDisabled="@(Product.AvailableQty == 0)"/>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required BookDto Product { get; set; }

    [Parameter]
    public string Currency { get; set; } = "SEK";

    private async Task FetchDataById()
    {
        using var client = HttpClientFactory.CreateClient("WebshopBackendAPI");
        var data = await client.GetStringAsync($"/products/{Product.Id}");
        Product = JsonSerializer.Deserialize<BookDto>(data, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        //StateHasChanged();
    }
}
